.speedruns {
    /*Espaciado entre navegador y primer texto en Speedruns*/
    margin-left: 20px;
    section{
    /*Espaciado entre parrafo y videos de Speedruns*/
        p {
            margin-top: 20px;
            padding-bottom: 10px;
        }
        .videoPlaceHolder{
            padding-bottom: 56.25%;
            height: 0;
            background-color: grey;
            position: absolute;
            box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
            p{
                color: white;
                margin-top: 0px;
                padding: 25px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }
}

