$social: (
        wpp: -1,
        ig: 1
    );
    
@each $s, $v in $social{
    .#{$s}image{
        @include footerin($tamanioFooter, 50vw, $v);
        img{
            height: 100%;
            width: 100%;
        }
    }
}