$social: (
        wpp: -1,
        ig: 1
    );

$artistsGrid: (
    recommendedTopRight: animenzVideo,
    recommendedBottom1: playerPianoVideo,
    recommendedBottom2: mysteryGuitarManVideo,
    recommendedBottom3: mrPianoMinionVideo,
    recommendedBottom4: jaimeAltozanoVideo,
);